@use './mixins';

.main {
  @include mixins.flexCenter(column);

  align-items: stretch;
  height: 100%;
  :global(.section-header) {
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid var(--text-primary);
  }
}

.game_door-ctn {
  position: relative;
  flex: 1 1 auto;
}
