.main {
  background-color: var(--foreground);
  padding: 1em 2em;
  border-radius: 5px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;

    :global(.close-btn) {
      padding: 5px;
    }
  }

  form {
    margin-bottom: 1.5em;
  }
}
